            <div class="col">
              <h3 class="alert alert-danger">Table of Contents<i class="fas fa-table" style="margin-left: 5px;"></i></h3>

             {{#each items as |item| }}
              <li><strong>Id: {{item.id}} </strong><strong>Name: </strong>{{item.item_name}}, price: {{item.price}}, stock: {{item.stock}}, type: {{type.type_name}}</li>

              {{else}}
                <li>
                  nothing here
                </li>
              {{/each}}



